<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.PostMapper">

<insert id='writePost' parameterType="com.example.demo.model.Post">
	insert into T_Post values(null, #{mem_id}, #{category}, #{pay}, #{offer}, #{startdate}, #{enddate}, #{locX}, #{locY}, #{urgent}, #{title}, #{content})
</insert>


<insert id="createPost">
	insert into t_post values (null,#{memId},#{postCate},#{postPay},#{postOffer},to_date(#{workStart},'YYYY-MM-DD"T"HH24:MI'),to_date(#{workEnd},'YYYY-MM-DD"T"HH24:MI'),#{lat},#{lng},#{urgent},#{title},#{content},#{imgSrc},to_date('2022-11-04','YYYY-MM-DD'))
</insert>



<select id="searchPost" resultType="com.example.demo.model.Post">
	select post_num urgent, to_char(WORKTIME_S, 'YYYY-MM-DD"T"HH24:MI'), to_char(WORKTIME_E, 'YYYY-MM-DD"T"HH24:MI'), post_cate, post_offer_yn, post_pay, title from t_post
</select>

<insert id="bookmakr">
	insert into T_WISHLIST values(null, null, #{memId})
</insert>

</mapper>