<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.ProfileMapper">

	<insert id="createProfile">
		insert into t_profile values (#{id},#{say},#{imgSrc},#{cOne},#{cTwo},#{cThree},#{sido},#{gungu},to_date(#{openDate},'YYYY-MM-DD'),to_date(#{closeDate},'YYYY-MM-DD'))
	</insert>
	
	<update id="correctionProfile">
		update t_profile set say=#{say},img_src=#{imgSrc},cate_one=#{cOne},cate_two=#{cTwo},cate_three=#{cThree},sido=#{sido},gungu=#{gungu},open_date=to_date(#{openDate},'YYYY-MM-DD'),close_date=to_date(#{closeDate},'YYYY-MM-DD') where mem_id = #{id}
	</update>

	<select id="select" resultType="String">
		select mem_id from t_member where age=27
	</select>
	
	<select id="prolist" resultType="com.example.demo.model.ProfileList">
		SELECT m.mem_id , m.name , m.gender , m.age , p.say , p.img_src , p.sido , p.gungu , p.cate_one , p.cate_two , p.cate_three
FROM t_member m , t_profile p
WHERE m.mem_id = p.mem_id
	</select>
	
	<select id="otherview" resultType="com.example.demo.model.OtherView">
		SELECT m.name , m.mem_trust , p.cate_one , p.cate_two , p.cate_three , p.say , to_char(p.open_date,'YYYY-MM-DD') , to_char(p.close_date,'YYYY-MM-DD')
FROM t_member m , t_profile p
WHERE m.mem_id = p.mem_id
and name = #{name}
	</select>
	
	<select id="myview" resultType="com.example.demo.model.MyView">
		SELECT m.name , m.mem_trust , p.cate_one , p.cate_two , p.cate_three , p.say , to_char(p.open_date,'YYYY-MM-DD') , to_char(p.close_date,'YYYY-MM-DD'),p.img_src
FROM t_member m , t_profile p
WHERE m.mem_id = p.mem_id
and m.mem_id = #{id}
	</select>
	
	
	<select id="hasPro" resultType = "int">
		select count(*) from t_profile where mem_id=#{id}
	</select>
	
	<select id="activeList" resultType="com.example.demo.model.Matching">
		SELECT p.title ,p.post_cate, to_char(m.match_date,'YYYY-MM-DD')
FROM T_MATCHING m , T_POST p
WHERE m.POST_NUM = p.POST_NUM 
AND match_id = #{id}
ORDER BY m.match_date desc

	</select>
	
	<select id="evaluation" resultType="com.example.demo.model.Manner">
		SELECT evl_content , evl_point , evl_date
FROM T_MANNER
WHERE MEM_ID = #{id}
ORDER BY EVL_DATE desc
	</select>
	
	<select id="nameToId" resultType="String">
		SELECT mem_id FROM T_MEMBER WHERE name=#{name}
	</select>
	
	<insert id="evl">
		insert into t_manner values(null,#{targetId},#{oppId},#{evlPoint},#{evlContent},to_date(#{evlDate},'YYYY-MM-DD'))
	</insert>

	<update id="evl5">
		update t_member set mem_trust=mem_trust+2 where name=#{name}
	</update>
	
	<update id="evl4">
		update t_member set mem_trust=mem_trust+1 where name=#{name}
	</update>
	
	<update id="evl2">
		update t_member set mem_trust=mem_trust-1 where name=#{name}
	</update>
	
	<update id="evl1">
		update t_member set mem_trust=mem_trust-2 where name=#{name}
	</update>
	
</mapper>