<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.RegisterMapper">

	<insert id="createRegister">
		insert into t_member values (#{id},#{pw},#{name},#{age},#{gender},#{phone},#{trust},#{join_date},#{lat},#{lng},#{mem_type})
	</insert>


</mapper>